<h5>My List</h5>

<div class="table s12 l8">
    {{#each model as |todo|}}
        <div class="row item valign-wrapper {{if todo.isCompleted "completed"}} {{if todo.hasDirtyAttributes "yellow lighten-5"}} {{if todo.isEditing "large"}}">
            <div class="col s2 m1 valign">
                {{epic-checkbox value=todo.isCompleted}}
            </div>
            <div class="col s8 m7 valign">
                {{inliner- value=todo.title isEditing=todo.isEditing isCompleted=todo.isCompleted}}
            </div>
            <div class="col s12 m4 valign">
                {{controls- todo=todo save=saveItem delete=deleteItem restore=restoreItem}}
            </div>
        </div>
    {{else}}
        <tr>
            <td>Uh... No items added yet :(</td>
        </tr>
    {{/each}}
</div>

<button class="fa fa-floppy-o waves-effect waves-yellow btn blue accent-1 {{if areDirtyItems "disabled"}}" disabled="{{if areDirtyItems true null}}" {{action "saveAll"}}>
    Save All
</button>

<button class="fa fa-undo waves-effect waves-red btn blue accent-1 {{if areDirtyItems "disabled"}}" disabled="{{if areDirtyItems true null}}" {{action "restoreAll"}}>
    Restore All
</button>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red" {{action "add"}}><i class="fa fa-plus"></i></a>
</div>
